html, body
	height: 100%
	overflow: hidden

#app
	height: 100%
	overflow: scroll
	-webkit-overflow-scrolling: touch

@media (max-width: 414px)
	html, body, #app
		height: initial
		overflow: initial

.section
	margin-top: 200px
	margin-bottom: 50px
	gap: 50px
	display: flex
	align-items: center
	flex-direction: column

hr
	margin: 0
	border: 0

.hr
	height: 35vh
	position: relative

.hr:after
	content: ""
	left: 50%
	height: 100%
	position: absolute
	border-left: 1px solid var(--p-color-white-02)
