html, body
	height: 100%
	overflow: hidden

#app
	height: 100%
	overflow: scroll
	-webkit-overflow-scrolling: touch

@media (max-width: 414px)
	html, body, #app
		height: initial
		overflow: initial

	.p-headline
		font-size: 12px
		font-weight: 500

.section
	margin-top: 200px
