html,
body
	height: 100%
	overflow: hidden

#app
	height: 100%
	overflow: scroll
	-webkit-overflow-scrolling: touch

@media (max-width: 414px)
	html,
	body,
	#app
		height: initial
		overflow: initial

.section
	display: flex
	flex-direction: column
	gap: 50px
	align-items: center
	margin-top: 200px
	margin-bottom: 50px

hr
	margin: 0
	border: 0

.hr
	position: relative
	height: 35vh

.hr:after
	position: absolute
	left: 50%
	height: 100%
	content: ""
	border-left: 1px solid var(--p-color-white-02)

.p
	max-width: 420px
